<%- include('templates/header'); %>
<%- include('templates/navbar'); %>
<%- include('templates/aside'); %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1>CDRUD User con EJS</h1>
                    <div class="container">
                        <% if(user){ %>

                        <h2>Editar el Usuario: <%= user.name %></h2>

                        <form action="/editar" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="id" value="<%= user.id %>">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>"
                                    tabindex="1" autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="<%= user.email %>" tabindex="2">
                            </div>
                            <div class="mb-3">
                                <select name="rol" id="rol" class="form-select" tabindex="3">
                                    <option <%= user.rol=='admin' ? 'selected' : '' %> value="admin">Administrador
                                    </option>
                                    <option <%= user.rol=='suscrip' ? 'selected' : '' %> value="suscrip">Suscriptor
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Email</label>
                                <input type="file" class="form-control" id="image" name="image" tabindex="2">
                                <img src="../img/<%= user.image %>" alt="" width="70px" height="70px">
                            </div>
                            <button type="submit" class="btn btn-primary" tabindex="4">Editar</button>
                            <a href="/users" class="btn btn-secondary" tabindex="5">Cancelar</a>
                        </form>

                        <% } %>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


</div>
<!-- /.content-wrapper -->

<%- include('templates/footer'); %>