<%- include('partes/header'); %>


<a href="/crear" class="btn btn-primary mt-4">Nuevo Usuario</a>
<table class="table table-bordered table-striped text-center mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">E-mail</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% lista.forEach((user)=>{ %>

        <tr>
            <th scope="row"><%= user.id %></th>
            <th><%= user.name %></th>
            <th><%= user.email %></th>
            <th><%= user.rol %></th>
            <td>
                <a href="/editar/<%= user.id %>" class="btn btn-info">Editar</a>
                <a href="/borrar/<%= user.id %>" class="btn btn-danger">Borar</a>
            </td>
        </tr>

        <% }) %>
    </tbody>
</table>


<%- include('partes/footer'); %>